
/* alterar basicamente tudo */
body{
    
    background-color: rgb(26, 26, 26);
    color:rgb(103, 170, 86);
}
/* mudar os links */
a{
    text-decoration: none;
    color:rgb(103, 170, 86);
    background-color: white;
}
/* mudar botões */
button{
    background-color: rgb(189, 189, 189);
    border-left:none;
    border-top: none;
    border-right:none;
    border-bottom: solid 3px rgb(180, 180, 180);
    font-size: large;
}
/* mudar o efeito dos botões */
button:hover{
    border-bottom: none;
    margin-top:3px;
}

.center {
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 10px;
    }

.dungeon{
    border: 6px solid rgb(248, 248, 248);
 
}

.hide{
    display: none;
}

div#vida{
    float:left;
    width: 50%;
}

div#etapa{
    float:right;
    width: 50%;
}

td, tr{
    padding: 10px;
   border: 2px solid rgb(168, 25, 25);  
}

img.tabela{
    height:100px;
    width: 100px;
}

img.highlight{
    border: 4px solid yellow;
}

img.absoluta{
    position: absolute;
    top:0px;
    left:0px;
}

img.relativa{
    position: relative;
    top:0px;
    left:0px;
}

.ataques{
    position:relative;
    top:0px;
    left:0px;
}